<body class="login-page bg-body-secondary">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <a routerLink="/login"
                    class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
                    <h1 class="mb-0"><b>MCC</b> Kargo Takip</h1>
                </a>
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">Giriş yapmak için bilgilerinizi doldurun</p>
                <form #form="ngForm" (ngSubmit)="login()">
                    <div class="input-group mb-1">
                        <div class="form-floating">
                            <input id="loginEmail" type="email" class="form-control" [(ngModel)]="request().userNameOrEmail" name="userNameOrEmail" />
                            <label for="loginEmail">Kullanıcı Adı / Mail Adresi</label>
                        </div>
                        <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="form-floating">
                            <input id="loginPassword" type="password" class="form-control" [(ngModel)]="request().password" name="password" />
                            <label for="loginPassword">Şifre</label>
                        </div>
                        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
                    </div>
                    <div class="form-group d-grid gap-2">
                        <flexi-button btnType="submit" btnSize="medium" btnColor="primary" [loading]="loading()" loadingText="Giriş Yapılıyor..." btnText="Giriş Yap" btnWidth="100%" btnIcon="lock"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
